@charset "UTF-8";


body {
	/*	background-color: rgb(128, 128, 255);*/

	padding-top: 56px;

	background:
		linear-gradient(180deg,
			rgb(79, 79, 255) 0%,
			rgb(145, 196, 253) 35%,
			rgb(183, 220, 251) 55%,
			rgb(255, 244, 255) 75%),
		radial-gradient(circle at 80% 20%, #FFF5CC 40px, transparent 41px);
	background-blend-mode: normal;
	position: relative
}

.chatFutter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ChatdelBt {

	display: flex;
	justify-content: flex-start;

}

/* チャットボックス全体 */
#chat-box {
	padding-left: 140px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-top: 10px;

	/*	margin-left: 140px;*/
	display: flex;
	flex-direction: column;
	gap: 8px;


	/*チャットボックスの表示がやたら長くなっちゃうのも困るので、エリアを制限してスクロールさせる。*/
	height: 400px;
	overflow: auto;

	background-color: rgb(255, 255, 255, 0.5);
}

/*キャラのチャットアイコン*/
.chatIcon_image {
	position: absolute;
	left: 0;

	/*	入力欄＋6ｐｘ*/
	bottom: 56px;
	height: 140px;
}




/*入力エリア右よせ*/
#input-area {

	padding-top: 10px;


	/*	とりあえずフレックスコンテナって奴にしておくと並びを制御しやすい*/
	display: flex;
	align-items: flex-end;
	gap: 8px;

	margin-left: auto;
	width: fit-content;
}

#user-input {
	font-size: 20px;
	width: 500px;
	height: 50px;
}

#send-btn {
	width: 50px;
	height: 50px;
	border-radius: 2px;
}

/* 吹き出し共通 */
.msg {
	max-width: 50%;
	padding: 10px 14px;
	border-radius: 16px;
	word-break: break-word;
}

/* ユーザー → 右寄せ */
.msg.user {
	align-self: flex-end;
	background-color: rgb(128, 255, 255);
	border-bottom-right-radius: 2px;
	/* 吹き出し感 */
}

/* AIの返信 → 左寄せ */
.msg.model {

	align-self: flex-start;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-left-radius: 2px;
}