@charset "UTF-8";


body {
	background:
		linear-gradient(180deg,
			rgb(79, 79, 255) 0%,
			rgb(145, 196, 253) 35%,
			rgb(183, 220, 251) 55%,
			rgb(255, 244, 255) 75%),
		radial-gradient(circle at 80% 20%, #FFF5CC 40px, transparent 41px);
	background-blend-mode: normal;
	position: relative;
	z-index: -3;

	display: flex;
	/* 水平中央 */
	justify-content: center;

	/* 垂直中央 */
	align-items: center;

	height: 100vh;
	margin: 0;

}

.Ustates {

	background-color: rgb(255, 255, 255);
	padding: 32px;
	border-radius: 8px;
	width: 300px;
}