@charset "UTF-8";

body {
	margin: 0;  
	box-sizing: border-box;
	padding: 75px 10px 10px 10px;
	background:
		linear-gradient(180deg,
			rgb(79, 79, 255) 0%,
			rgb(145, 196, 253) 35%,
			rgb(183, 220, 251) 55%,
			rgb(255, 244, 255) 75%),
		radial-gradient(circle at 80% 20%, #FFF5CC 40px, transparent 41px);
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: normal;
	position: relative;
	z-index: -3;
	min-height: 100vh;
}
