<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>オボエちゃんとチャット</title>

	<link rel="stylesheet" th:href="@{/css/chat.css}">
	<link rel="stylesheet" th:href="@{/css/animation.css}">
	<link rel="stylesheet" th:href="@{/css/homeLink.css}">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	<link rel="stylesheet" th:href="@{/css/bottun.css}">
</head>

<body>

	<a th:href="@{/home}" class="home-link">ホームに戻る</a>


	<h2>オボエちゃっと</h2>

	<!--チャットボックス==============-->



	<div id="chat-box">
		<!-- 既存の会話履歴 -->
		<th:block th:each="h : ${histories}">

			<!--  ここでroleでクラスを分けながらhistories（リスト）の中身を表示-->
			<div th:classappend="${h.role == 'user'} ? 'user' : 'model'" class="msg">
				<span th:text="${h.content}"></span>
			</div>
		</th:block>

		<!--キャラアイコン表示-->
		<img class="chatIcon_image" th:src="@{/img/ChatIcon.png}" alt="チャットアイコン">
	</div>
	<!--ちゃっとぼっくす終わり=========-->



	<div class="chatFutter">
		<div class="ChatdelBt">
			<button type="button" onclick="delChat()">チャット履歴のリセット</button>
		</div>
		<!--ユーザーの入力=============-->
		<div id="input-area">
			<textarea id="user-input" placeholder="メッセージを入力…"></textarea>
			<button id="send-btn" onclick="sendMessage()">送信</button>
		</div>
		<!--ユーザーの入力おわり=============-->

	</div>

	<!-- CSRFトークン（Ajax用） -->
	<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<input type="hidden" id="csrf-header" th:value="${_csrf.headerName}">


	<!--削除フォ～ム-->
	<form id="delChatForm" action="/chat/del" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>


	<!--＝＝＝各画面へのボタン＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
	<div class="menu-wrapper">
		<button id="menuBtn" onclick="toggleMenu()">メニュー ▼</button>

		<div id="dropdownMenu" class="dropdown hidden">
			<a href="/chat" class="menu-item"> チャット画面へ</a>
			<a href="/task" class="menu-item"> タスク一覧</a>
			<a href="/subsk" class="menu-item"> サブスク一覧</a>
			<a href="/sList" class="menu-item"> 買い物リスト</a>
			<a href="/profile" class="menu-item"> プロフィール</a>
			<form action="/logout" method="post" onsubmit="return confirm('ログアウトしますか？')">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<button type="submit" class="menu-item">ログアウト</button>
			</form>
		</div>

	</div>
	<!--menuのjavaScript読む-->
	<script th:src="@{/script/menu.js}"></script>
	<!--javaScript読む-->
	<script th:src="@{/script/chat.js}"></script>

</body>

</html>