<!DOCTYPE html>
<!--/OboeToRe/src/main/resources/templates/shoppingList.html-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お買い物リスト</title>

	<link rel="stylesheet" th:href="@{/css/modal.css}">
	<link rel="stylesheet" th:href="@{/css/animation.css}">
	<link rel="stylesheet" th:href="@{/css/bottun.css}">
	<link rel="stylesheet" th:href="@{/css/tasks.css}">
	<link rel="stylesheet" th:href="@{/css/homeLink.css}">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	<link rel="stylesheet" th:href="@{/css/table.css}">


</head>


<!--余裕があれば編集ボタンを追加、でもここはなくても困らなさそうなので後回し-->

<body>
	<a th:href="@{/home}" class="home-link">◁ HOME</a>




	<h3>買い物リスト</h3>
	<button type="button" onclick="changeStatus('DONE')">完了に変更</button>
	<button type="button" onclick="changeStatus('TODO')">未完了に変更</button>
	<button type="button" onclick="delSList()">削除</button>

	<button onclick="openSListModal()">買い物リストを追加</button>

	<!--削除フォ～ム-->
	<form id="delSLForm" action="/sList/del" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>

	<table>
		<thead>
			<tr>
				<th></th>
				<th>ステータス</th>
				<th>買うもの</th>
				<th>詳細</th>
			</tr>
		</thead>

		<!--買い物リストを持ってきて表示してる部分-->
		<tbody>
			<tr th:each="todoSLists : ${todoSLists}">
				<td><input type="checkbox" class="sListCheck" th:value="${todoSLists.shoppingId}"></td>
				<td th:text="${todoSLists.status}"></td>
				<td th:text="${todoSLists.itemName}"></td>
				<td th:text="${todoSLists.description}"></td>
			</tr>
		</tbody>
	</table>


	<!-- ステータス変更フォーム -->
	<form id="statusForm" action="/sList/status" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<input type="hidden" name="status" id="statusValue">
		<!--ページ判別用の引数↓-->
		<input type="hidden" name="redirectTo" value="shoppingListPage">
	</form>




	<!--買い物リスト追加のモーダル-->
	<div id="sListModal" class="modal">
		<div class="modal-inner">
			<h2>買い物リスト追加</h2>
			<form action="/sList" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<p>買うもの<input type="text" name="itemName"></p>
				<p>備考<input type="text" name="description"></p>

				<!--ページ判別用の引数↓-->
				<input type="hidden" name="redirectTo" value="shoppingListPage">

				<button type="submit">登録</button>
				<button type="button" onclick="closeSListModal()">閉じる</button>
			</form>
		</div>
	</div>


	<!--＝＝＝各画面へのボタン＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
	<div class="menu-wrapper">
		<button id="menuBtn" onclick="toggleMenu()">メニュー ▼</button>

		<div id="dropdownMenu" class="dropdown hidden">
			<a href="/chat" class="menu-item"> チャット画面へ</a>
			<a href="/task" class="menu-item"> タスク一覧</a>
			<a href="/subsk" class="menu-item"> サブスク一覧</a>
			<a href="/sList" class="menu-item"> 買い物リスト</a>
			<a href="/profile" class="menu-item"> プロフィール</a>
			<form action="/logout" method="post" onsubmit="return confirm('ログアウトしますか？')">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<button type="submit" class="menu-item">ログアウト</button>
			</form>
		</div>

	</div>
	<!--menuのjavaScript読む-->
	<script th:src="@{/script/menu.js}"></script>

	<!--スクリプトの読み込み-->
	<script th:src="@{/script/shoppingList.js}"></script>




</body>




</html>